//include sencha touch
@import 'sencha-touch/default/all';

//include layout and form parts of sencha touch
@include sencha-layout;
@include sencha-form-sliders;

//define a variable so we can have consistant padding throughout the app
$list-padding: .7em;

//body background
body {
    background: #eee;
}

//kitten list styling
.kitten-list {
    .x-dataview-inner {
        padding: $list-padding;
    }

    //kitten list item styling
    .kitten-list-item {
        padding: $list-padding/2;
        background: #fff;
        border: 1px solid #ccc;
        border-bottom-width: 0;

        //add rounded corners to the last item
        &:last-child {
            border-bottom-width: 1px;
            @include border-bottom-radius($list-padding/2);
        }
    }

    //add rounded corners to the first item
    .x-mask + .kitten-list-item {
        @include border-top-radius($list-padding/2);
    }
    
    .kitten-list-item .x-img {
        background: #eee;
        background-size: cover;
        background-position: center center;

        @include border-radius($list-padding/2);

        width: 80px;
        height: 80px;
    }

    .kitten-list-item .x-name {
        padding: 0 $list-padding/2;
    }
}
